@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  @apply grid grid-rows-[20px_1fr_20px] items-center justify-items-center min-h-screen p-8 pb-20 gap-16 sm:p-20 font-[family-name:var(--font-geist-sans)];
}

.myForm {
  @apply space-y-6;
}
.myForm div {
  @apply flex flex-col space-y-2;
}
.myForm div label {
  @apply text-sm font-medium text-gray-700 uppercase;
}
.myForm div input {
  @apply border border-gray-400 bg-gray-100 px-4 py-2 text-gray-900 focus:outline-none;
}
.myForm div textarea {
  @apply border border-gray-400 bg-gray-100 px-4 py-2 text-gray-900 focus:outline-none resize-y;
}
.myForm button {
  @apply w-full bg-black text-white py-3 uppercase tracking-wider hover:bg-gray-800 transition;
}
.myForm select {
  @apply border border-gray-400 bg-gray-100 px-4 py-2 text-gray-900 focus:outline-none;
}
.myForm select option {
  @apply bg-[#333333] text-white w-full px-4 py-2 border;
}

.post-create-btn {
  @apply bg-[#333333] text-white hover:border hover:border-[#333333] hover:text-[#333333] hover:bg-white mx-30 px-10 py-5 my-10;
}

.myBackBtn {
  @apply border border-[#333333] hover:bg-[#333333] hover:text-white px-5 py-2;
}

.editPostBtn {
  @apply block text-center w-full bg-[#333333] text-white py-3 hover:bg-white hover:text-[#333333] hover:border hover:border-[#333333] cursor-pointer;
}
